.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  line-height: 40px;
}

.App-body {
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  gap: 20px;
}

.input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.embed-wrapper {
  width: 100%;
  flex: 1;
}

